spring:
  datasource:
    hikari:
      maximum-pool-size: 20

logging:
  level:
    root: WARN
    com.vonnue: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
