spring:
  datasource:
    hikari:
      maximum-pool-size: 20

logging:
  level:
    root: WARN
    com.vonnue: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

app:
  jwt:
    cookie-secure: true
